#frame-menu{
    width: 100%;
    height: 77px;
    margin: 0;
    padding: 0;
}
.letra-blanca{
    color:white;
}
.card button:hover,.bg-green {
    background-color: #6AA037;
}
.card button{
    border-color: #6AA037 ;
    color:#6AA037;
}
.border-green{
    border-color: #6AA037 ;
}

